<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>staff login</title>
    <link href="login(staff)/staff/staff_files/style_log.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="login(staff)/staff/staff_files/style.css">
    <link rel="stylesheet" type="text/css" href="login(staff)/staff/staff_files/userpanel.css">
    <link rel="stylesheet" type="text/css" href="login(staff)/staff/staff_files/jquery.ui.all.css">
</head>

<body class="login">
<div class="login_m">
    <div class="login_logo">
    <br>
    <br>
    <br>
    <br>
    <img src="login(staff)/staff/staff_files/logo.png" width="196" height="46">
    </div>
    <div class="login_boder">
        <div class="login_padding" id="login_model">
            <br>
            <h3>Username</h3>
            <label>
                <input type="text" name="username" id="username" class="txt_input txt_input2" value=" ">
            </label>
            <br>
            <h3>Password</h3>
            <label>
                <input type="text" name="password" id="userpwd" class="txt_input" value=" ">
            </label>
            <div class="rem_sub">
                <label>
                    <br>
                    <input type="submit" class="sub_button" name="button" id="button" value="Sign in" style="opacity: 0.7;">
                </label>
            </div>
        </div>
    </div>
</div>

</body>
</html>